/* header */

.header {
  padding-top: 25px;
  background: radial-gradient(
    84.88% 84.88% at 50% 108.47%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.header-content {
  align-items: center;
  justify-content: center;
}

.logo-heder {
  width: 100px;
}

.nav-link {
  margin-left: 10px;
  color: #000000;
}

.header-title {
  font-size: 110px;
  color: #131313;
  max-width: 1175px;
  margin-top: 95px;
}

.btn-header-position {
  justify-content: center;
  margin-top: 60px;
}

/* header */

/* hero */
.hero {
  margin-top: 310px;
}

.hero-title {
  margin-bottom: 10px;
}

.text-hero {
  margin: 0 auto;
  max-width: 825px;
}

.subtitle-hero {
  margin-top: 90px;
}

.img-hero-position {
  justify-content: center;
}

.img-hero {
  margin-top: 35px;
  padding-left: 90px;
}

.img-hero:first-child {
  padding-left: 0;
}
/* hero */

/* numbers */
.numbers {
  margin-top: 225px;
}

.subtitle-numbers {
  max-width: 550px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 80px;
}

.numbers-card-wrap {
  justify-content: center;
}

.numbers-card {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  margin-left: 50px;

  margin-bottom: 40px;
}

.numbers-card-title {
  font-size: 60px;
  line-height: 94px;
  text-align: center;
  background: linear-gradient(276.36deg, #5535d2 4.11%, #000000 59.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: none;
  order: 1;
  padding-left: 5px;
  padding-right: 5px;
}

.numbers-card-subtitle {
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  color: #131313;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.btn-numbers {
  margin-top: 40px;
}
/* numbers */

/* discover */

.discover {
  margin-top: 190px;
}

.discover-title {
  max-width: 1283px;
}

.discover-cards-wrap {
  margin-top: 100px;
  justify-content: center;
}

.discover-cards {
  margin-left: 8px;
}
.discover-cards-bg-color {
  background: #dbe8f1;
}

.title-discover-cards {
  font-size: 40px;
  line-height: 35px;
  max-width: 197px;
  text-align: start;
  margin-right: 200px;
  padding: 22px 0 19px 28px;
}

.discover-cards-img {
  padding-right: 22px;
}

.subtitle-discover-cards {
  opacity: 0.8;
  max-width: 500px;
  background: #dbe8f1;
  padding: 29px 9px 32px 28px;
}

/* discover */
